* { 
	margin: 0; 
	padding: 0; 
}

html{
	background-color: #2b4158;
}

html,body{
	font-family: Arial, 
	Helvetica, sans-serif;
}

img, iframe, object, embed, video { 
	height: auto; 
	max-width: 100%; 
}

@media all and (max-width: 260px) { 
	@media all and (max-height: 340px) { 
		hr, .logo_imagem_box_login, .titulo_login_animacao{
			/*display: none;*/
		}
	}
}

.container { 
	margin: 0 auto;
	width: 100%;
}
  
	.box_login{  
		width: 33em;
		height: 22em;
		position: absolute;
		top:50%;
		left:50%;
		margin-top: -11em;
		margin-left: -16.5em;
		font-family: serif;
		/*font-family: monospace;*/
		
		background-color: #203142;
		color: white;
		border-color:#cfcbcb;
		border-radius:  2.3608%; /*14px*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	@media all and (max-width: 640px) { 
		.box_login{  
			width: 24em;
			height: 22em;
			position: absolute;
			top:50%;
			left:50%;
			margin-top: -11em;
			margin-left: -12em;
		} 
	}
    
    @media all and (max-width: 350px) { 
		.box_login{  
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			margin-top: 0;
			margin-left: 0;
			
			background-color: transparent;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
		} 
	}  
            
	.box_login img{
		margin: 1% 0 1% 1%;
		float: left;
	}
	
	.box_login p{
        margin: 0.85em 0 0 0.5em;
        float: left;
        font-size: 1.4em;
        font-family: Courier New, monospace;
    }
    
    @media all and (max-width: 640px) { 
    	.box_login p{
	        margin: 0.75em 0 0 0.5em;
	    }
    }
    
    .box_login hr{
		margin: 0 1% 0 1%;
	}
    
    .box_login .titulo_box_login{
    	font-size: 1.1em;
    	text-align: center;
    	padding: 2% 1% 1% 1%;
    }
    
    .box_login form{
    	width: 100%;
    	text-align: center;
    }

	.box_login a{
		color: white;
	}
		
.popup_loading{
  position: fixed;
  top:0;
  left:0;
  z-index: 9999;
  width: 100%;
  height:auto; 
  min-height:100%;
  background: #000000;
  opacity: 0.95;
  /*display: none;*/
}
  
.img_loader{
  width:80px;
  height:80px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-40px;
  margin-left:-40px;
}
