<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>viewmaster_optometria</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
  
  	<servlet>
  		<servlet-name>Login</servlet-name>
  		<jsp-file>/views/login/login.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Login</servlet-name>
  		<url-pattern>/Login</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>LoginServlet</servlet-name>
  		<servlet-class>control.servlet.LoginServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>LoginServlet</servlet-name>
  		<url-pattern>/LoginServlet</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>Graficos</servlet-name>
  		<jsp-file>/views/graficos/principal.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>Graficos</servlet-name>
  		<url-pattern>/Graficos</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>RecuperarSenhaPassoUm</servlet-name>
  		<jsp-file>/views/login/recuperarSenhaPassoUm.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RecuperarSenhaPassoUm</servlet-name>
  		<url-pattern>/RecuperarSenhaPassoUm</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>RecuperarSenhaPassoDois</servlet-name>
  		<jsp-file>/views/login/recuperarSenhaPassoDois.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RecuperarSenhaPassoDois</servlet-name>
  		<url-pattern>/RecuperarSenhaPassoDois</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>RecuperarSenhaPassoTres</servlet-name>
  		<jsp-file>/views/login/recuperarSenhaPassoTres.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RecuperarSenhaPassoTres</servlet-name>
  		<url-pattern>/RecuperarSenhaPassoTres</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>RecuperarSenhaPassoQuatroEmail</servlet-name>
  		<jsp-file>/views/login/recuperarSenhaPassoQuatroEmail.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RecuperarSenhaPassoQuatroEmail</servlet-name>
  		<url-pattern>/RecuperarSenhaPassoQuatroEmail</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>RecuperarSenhaPassoQuatroPerguntaSecreta</servlet-name>
  		<jsp-file>/views/login/recuperarSenhaPassoQuatroPerguntaSecreta.jsp</jsp-file>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>RecuperarSenhaPassoQuatroPerguntaSecreta</servlet-name>
  		<url-pattern>/RecuperarSenhaPassoQuatroPerguntaSecreta</url-pattern>
  	</servlet-mapping>
  	
</web-app>